.taskselected {
  background-color: #2e3e50;
  border-radius: 13px;
  display: inline-block;
  text-align: left;
  width: 100%;
}

.taskselected-title {
  border-bottom-color: #fccc5b;
  border-bottom-style: solid;
  color: rgb(131, 182, 164);
  font-weight: bold;
}
.taskselected-description {          
  color: white;
  display: inline;
}
