.appheader-title {
  border-bottom-color: #fccc5b;
  border-bottom-style: dashed;
  border-left-color: #fccc5b;
  border-left-style: dashed;
  color: rgb(240, 242, 245);
  font-size: 24px;
  font-style: italic;
  font-weight: bold;
}
                
.appheader-link {
  border-bottom-color: #ffcc5c;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  color: #f0f2f5;
}
 
.task-selected-container {
  height: 150px;
  width: 55%;
  position: relative;
  z-index: 9;
  padding-right: 80px;
}   

.chart-tasks-completenes-container {
  width: 45%;
  padding-right: 5%;
}

.tasks-filter {
    width: 45%;
    padding-right: 5%;
}

.tasks-actions-container {
  text-align: right;
  float: right;
  width: 55%;
}
    
.ant-layout-content {
  padding: 0 50px;
  margin-top: 310px;
  overflow: overlay;
  margin-bottom: 78px;
  width: 100%;
}
    
.tasks-header-container {
  display: flex;
}

.mobile-view {
  display: none;
  width: 0px;
  height: 0px;
}

@media only screen and (max-width: 1000px) {
    .ant-layout-content {
      margin-top: 350px;
      margin-bottom: 50px;
    }

    .chart-tasks-completenes-container {
      width: 350px;
    }
    .tasks-filter {
      width: 100%;
      padding-top: 52px;
    }
}

@media only screen and (max-width: 780px) {

    .ant-layout-content {
      margin-top: 350px;
      margin-bottom: 50px;
    }

    .chart-tasks-completenes-container {
      width: 300px;
    }
    .tasks-filter {
      width: 100%;
      padding-top: 52px;
    }

    .chart-tasks-completenes-container {
      width: 100%;
      padding-right: 10%;
    }

    .task-selected-container {
      height: 150px;
      width: 100%;
      position: relative;
      z-index: 9;
    }   
    
    .tasks-header-container {
      display: block;
    }
    
    .ant-layout-content {
      width: 90%;
      margin-top: 500px;
      margin-bottom: 50px;
    }

    .tasks-actions-container {
      text-align: right;
      float: right;
      width: 100%;
    }
}
@media only screen and (max-width: 600px), screen and (max-height: 500px) {
  .mobile-view {
    width: 100%; 
    height: 100%;
    position: absolute;
    background-color: #2e3e50;
    color: #f0f2f5;
    display: table;
    height: 100%;
    width: 100%;
  }
 
  .mobile-view > div {
    display: table-cell;
    vertical-align: middle;
  } 
  
  .mobile-view > div > div {
    width: 75%;
    margin: auto;
  }

  .mobile-view > div > div > p {
    color: #f0f2f5;
    font-size: 14px;
    font-weight: bold;
  }
  
  .mobile-view > div > div > h1 {
    border-bottom-color: #fccc5b;
    border-bottom-style: dashed;
    border-left-color: #fccc5b;
    border-left-style: dashed;
    color: rgb(240, 242, 245);
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    width: 92px;
  }

  .main-layout {
    display: none !important;
  }

  .introjs-overlay {
    opacity: 0.6 !important;
  }

  .introjs-tooltipReferenceLayer, .introjs-helperLayer {
    display: none !important;
  }
}
